.text-strong{
    color: rgb(0, 156, 143);
}

.project-card{
    border: 1px solid rgba(0, 0, 0,0.2);
}

.project-card-header{
    background: -moz-linear-gradient(-45deg, rgba(239,255,189,1) 0%, rgb(201, 201, 201) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(239,255,189,1)), color-stop(100%, rgba(0,156,143,1)));
    background: -webkit-linear-gradient(-45deg, rgba(239,255,189,1) 0%, rgb(201, 201, 201) 100%);
    background: -o-linear-gradient(-45deg, rgba(239,255,189,1) 0%, rgb(201, 201, 201) 100%);
    background: -ms-linear-gradient(-45deg, rgba(239,255,189,1) 0%, rgb(202, 202, 202) 100%);
    // background: linear-gradient(135deg, rgba(239,255,189,1) 0%, rgba(0,156,143,1) 100%);
    background: linear-gradient(135deg, rgb(215, 247, 244) 0%, rgb(204, 204, 204) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efffbd', endColorstr='#009c8f', GradientType=1 );
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .project-card-header-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-image{
        width: 458px;
        height: 110px;
        background-size: cover;
        opacity: 0.1;
        position: absolute;
    }


}

.project-card-body{
    margin: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-card-footer{
    display: flex;
    align-items: baseline;
    justify-content: center;


    background: -moz-linear-gradient(-45deg, rgba(239,255,189,1) 0%, rgb(201, 201, 201) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(239,255,189,1)), color-stop(100%, rgba(0,156,143,1)));
    background: -webkit-linear-gradient(-45deg, rgba(239,255,189,1) 0%, rgb(201, 201, 201) 100%);
    background: -o-linear-gradient(-45deg, rgba(239,255,189,1) 0%, rgb(201, 201, 201) 100%);
    background: -ms-linear-gradient(-45deg, rgba(239,255,189,1) 0%, rgb(202, 202, 202) 100%);
    // background: linear-gradient(135deg, rgba(239,255,189,1) 0%, rgba(0,156,143,1) 100%);
    background: linear-gradient(135deg, rgb(215, 247, 244) 0%, rgb(204, 204, 204) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efffbd', endColorstr='#009c8f', GradientType=1 );


}

.card-footer-icon{
    &:hover {
        fill: rgb(0, 156, 143);
      }
}

.icons-card{
    display: flex;
    align-items: baseline;
}

.card-icon{
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 100%;
    fill: rgb(0, 0, 0);
}

.card-icon-selected{
    fill: rgb(0, 156, 143);
}