
.project-list-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-list-card{
    width: 94%;

    @media (min-width: 600px) {
        margin: 0% 1%;
    }

    @media (min-width: 600px) {
        margin: 0% 1%;
    }

    @media (min-width: 992px) {
        width: 47%;
        margin: 0% 1%;
    }

    @media (min-width: 1200px) {
        width: 47%;
        margin: 0% 1%;
    }
}

.hidden {  
        transform:translate(9999px);
        display: none;  
      }
.project-list-component{
    margin-top: 2%;
    text-align: center;
}
    