.progress__meter {
    stroke: #e6e6e6;

}

.progress-bar-language{
    width: 200px;
    height: 150px;

    @media (min-width: 768px) {
        height: 200px;
      }
    transform: rotate(-90deg);
}

.progress__value {
    stroke: rgba(0, 156, 143, 0.5);
    stroke-linecap: round;
}