.experience-section {
    padding: 5%;
    display: flex;
    flex-direction: column;
    min-width: 80vw;
    min-height: 100vh;
    justify-content: center;
  }

  .work-card-section{
    margin-top: 2%;
  }
  
  @media (min-width: 768px) {
    .experience-section {
      min-height: 100vh;

    }
  }
  @media (min-width: 992px) {
    .experience-section {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
