body {
  font-family: 'Quicksand', 'Montserrat'; 
}

h1, h2, h3 {
  font-family: 'Rubik', 'Quicksand';
}

body {
    padding-top: 2vh;
    font-size: 87%;     
}


@media (min-width: 500px) {
  body {
    font-size: 100%;     
}
}

@media (min-width: 992px) {
  body {
    padding-top: 0;      
    padding-left: 20vw;
  }
}

* {
  box-sizing: border-box;
}