.icons{
    display: flex;
    align-items: baseline;
}

.logo {
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 100%;
    fill: rgb(0, 0, 0);

    &:hover {
        fill: rgb(0, 156, 143);
      }
}

.logo-selected{
    fill: rgb(0, 156, 143);
}